<html>
  <head>
    <title>NIDA Request Logs</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  </head>

  <body style="font-family: courier;">
    <div class="container" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-12">
          <h4 class="mb-3">NIDA Request Logs</h4>
          <form>
            <div class="input-group mb-4 input-group-sm">
              <div class="input-group-prepend">
                <div class="input-group-text">Filter by NIN</div>
              </div>
              <input name="nin" type="text" class="form-control" value="<%= query.nin %>">
              <div class="input-group-append">
                <button class="btn-primary">Search</button>
              </div>
            </div>
          </form>
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="small">Log ID</th>
                <th class="small">Date/Time</th>
                <th class="small">Trans ID</th>
                <th class="small">NIN</th>
                <th class="small">Finger</th>
                <th class="small">Code</th>
                <th class="small">Request Time</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(let index = 0; index < rows.length; index++) { %>
                <% let row = rows[index] %>
              <tr>
                <td><span class="small"><%= row.id %></span></td>
                <td class="small"><%= row.dateTime %></td>
                <td class="small"><%= row.transId %></td>
                <td class="small"><%= row.nin %></td>
                <td class="small"><%= row.finger %></td>
                <td class="small"><%= row.code %></td>
                <td class="small"><%= row.requestTime %>ms</td>
                <td class="small">
                  <a href="<%= `/console/${row.id}/xml` %>">xml</a>
                </td>
                <td class="small">
                  <a href="<%= `/console/${row.id}/json` %>">json</a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nav>
            <ul class="pagination">
              <% for (let index = 0; index < links.length; index++) {
                let link = links[index]
                %>
              <li class="page-item <%= link.active ? 'active' : '' %>"><a class="page-link" href="<%= link.url %>"><%= link.title %></a></li>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>